{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": true,
  "importOrder": [
    "THIRD_PARTY_MODULES",
    "/ui/",
    "/hooks/",
    "/screens/",
    "/components/",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
