.header__authorization-buttons {
	display: flex;
	column-gap: 30px;
}

.header__registration-button {
	border: 0;
	outline: 0;
	color: white;
	background-color: transparent;
	cursor: pointer;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}

.header__log-in-button {
	padding: 8px 20px;
	background-color: #2be080;
	border: 0;
	outline: 0;
	border-radius: 3px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	cursor: pointer;
}
