.not-found {
  align-self: center;
  margin-top: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-found__code {
  font-size: 140px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 5px;
}

.not-found__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.not-found__back-link {
  color: #3456f3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 184px auto 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .not-found {
    margin: 408px 0 222px;
  }
}
