.search-form {
	display: flex;
	justify-content: center;
}

.search-form__content {
	padding: 70px 0 48px;
	width: 1140px;
}

.search-form__wrapper {
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}

.search-form__input {
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 30px;
	font-weight: 500;
	width: 100%;
	margin-bottom: 13px;
}

.search-form__button {
	min-width: 58.65px;
	height: 34px;
	padding: 0;
	font-family: inherit;
	background-color: #3456f3;
	border: 0;
	outline: 0;
	border-radius: 48px;
	color: #ffffff;
	font-size: 11px;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
}

.search-form__short-films {
	position: relative;
	display: block;
	width: 34px;
	height: 14px;
	border-radius: 20px;
	margin: 1px;
}

.search-form__checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.search-form__slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f5f5f5;
	border-radius: 20px;
	transition: 0.4s;
}

.search-form__slider:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	background-color: white;
	border-radius: 10px;
	top: 2px;
	left: 2px;
	right: 0;
	bottom: 0;
	transition: 0.2s;
	transform: translateX(0px);
}

.search-form__checkbox:checked + .search-form__slider {
	background-color: #2be080;
}

.search-form__checkbox:checked + .search-form__slider:before {
	transform: translateX(20px);
}

.search-form__slider-text {
	font-size: 13px;
	line-height: 18px;
	position: absolute;
	top: 0;
	padding-left: 14px;
	left: 36px;
	user-select: none;
	cursor: pointer;
}

@media (max-width: 1279px) {
	.search-form__content {
		padding: 80px 0 61px;
		width: 708px;
	}
	.search-form__wrapper {
		margin-bottom: 30px;
	}
	.search-form__short-films {
		margin-left: auto;
	}
	.search-form__slider-text {
		left: calc(-117px - 16px);
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.search-form__content {
		padding: 84px 0 52px;
		width: 292px;
	}
	.search-form__input {
		padding-top: 5px;
		font-size: 19px;
		line-height: normal;
		margin-bottom: 15px;
	}
	.search-form__button {
		margin-bottom: 9px;
	}
	.search-form__wrapper {
		margin-bottom: 42px;
	}
	.search-form__short-films {
		margin-right: 73px;
	}
	.search-form__slider-text {
		left: -113px;
		font-size: 11px;
		line-height: 18px;
	}
}
