.landing-about {
  padding: 110px 70px;
}

.landing-about__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 75px;
  column-gap: 40px;
}

.landing-about__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.8px;
}

.landing-about__description {
  font-size: 14px;
}

.landing-about__chart {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
  margin-top: 110px;
}

.landing-about__chart-one-week {
  background-color: #2be080;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-about__chart-five-weeks {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-about__chart-one-week-description,
.landing-about__chart-five-weeks-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a0a0a0;
  margin: 0;
}
