.about-me {
	display: flex;
	justify-content: center;
}
.about-me__content {
	padding: 110px 0 101px;
	width: 1140px;
}

.about-me__about {
	display: flex;
	margin: 66px 0 100px;
	justify-content: space-between;
}

.about-me__description {
	max-width: 600px;
}

.about-me__short-description {
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	margin: 18px 0 26px;
}

.about-me__long-description {
	line-height: 22px;
	margin: 0;
	font-size: 14px;
	line-height: 22px;
}

.about-me__name {
	font-size: 50px;
	line-height: 58px;
	letter-spacing: -2px;
	margin: 0;
}

.about-me__photo {
	width: 270px;
	height: 327px;
	object-fit: cover;
	border-radius: 10px;
}

.about-me__github-link {
	display: flex;
	font-weight: 500;
	color: black;
	text-decoration: none;
	margin: 100px 0 0;
	font-size: 14px;
}

@media (max-width: 1279px) {
	.about-me__content {
		padding: 90px 50px 91px;
		width: 708px;
	}
	.about-me__name {
		font-size: 40px;
		line-height: 40px;
	}
	.about-me__description {
		max-width: 364px;
	}
	.about-me__short-description {
		font-size: 12px;
		line-height: 18px;
		margin: 16px 0 20px;
	}
	.about-me__long-description {
		font-size: 12px;
		line-height: 18px;
	}
	.about-me__photo {
		width: 255px;
		height: 307px;
	}
	.about-me__about {
		margin: 66px 0 91px;
	}
	.about-me__github-link {
		margin-top: 87px;
	}
}

@media (max-width: 767px) {
	.about-me__content {
		padding: 70px 0;
		width: 292px;
	}
	.about-me__about {
		margin: 60px 0 70px;
		flex-direction: column-reverse;
		row-gap: 40px;
	}

	.about-me__photo {
		width: 292px;
		height: 352px;
	}

	.about-me__name {
		font-size: 30px;
		line-height: normal;
		letter-spacing: -1.2px;
	}

	.about-me__short-description {
		font-size: 11px;
		line-height: 16px;
		margin-top: 20px;
	}

	.about-me__long-description {
		font-size: 11px;
		line-height: 16px;
	}

	.about-me__github-link {
		margin-top: 40px;
	}
}
