.profile-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 410px;
  font-size: 11px;
  line-height: 14px;
}

.profile-content__greetings {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 74px 0 123px;
}

.profile-content__name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 17px;
  margin-bottom: 17px;
}

.profile-content__email {
  display: flex;
  justify-content: space-between;
}

.profile-content__key {
  font-weight: 500;
}

.profile-content__edit-button {
  line-height: 16px;
  font-size: 13px;
  border: 0;
  outline: 0;
  background-color: #ffffff;
  cursor: pointer;
  margin: 220px 0 16px;
  padding: 0;
}

.profile-content__logout-button {
  padding: 0;
  line-height: 16px;
  font-size: 13px;
  border: 0;
  outline: 0;
  background-color: #ffffff;
  cursor: pointer;
  color: #ff3055;
}

.profile-content__input {
  border: 0;
  outline: 0;
  font-size: 11px;
  line-height: normal;
  text-align: right;
  font-weight: 400;
  background-color: white;
}

.profile-content__save {
  font-family: inherit;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
  height: 45px;
  background-color: #3456f3;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 223px 0 50px;
}

.profile-content__save-error {
  position: absolute;
  bottom: 149px;
  left: 0;
  width: 100%;
  color: #ff004c;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1279px) {
  .profile-content__greetings {
    margin: 236px 0 96px;
  }
  .profile-content__edit-button {
    margin-top: 210px;
  }
}

@media (max-width: 767px) {
  .profile-content {
    min-width: 260px;
  }

  .profile-content__greetings {
    margin: 70px 0 80px;
  }
  .profile-content__name {
    padding-bottom: 16px;
  }
  .profile-content__edit-button {
    font-family: inherit;
    margin-top: 379px;
    font-size: 12px;
  }
  .profile-content__logout-button {
    font-size: 12px;
    font-family: inherit;
  }
}
