.landing-tech {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.landing-tech__content {
  padding: 100px 0 100px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-tech__title {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: center;
  margin: 90px 0 26px;
}

.landing-tech__description {
  font-size: 14px;
  max-width: 460px;
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0;
}

.landing-tech__list {
  margin: 100px 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  justify-content: center;
}

.landing-tech__list-item {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  background-color: #e8e8e8;
}

@media (max-width: 1279px) {
  .landing-tech__content {
    padding: 90px 0;
    width: 708px;
  }
  .landing-tech__title {
    margin: 80px 0 22px;
  }
  .landing-tech__description {
    font-size: 12px;
    max-width: 460px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -0.48px;
    line-height: 18px;
  }
  .landing-tech__list {
    margin-top: 83px;
  }
  .landing-tech__list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .landing-tech__content {
    padding: 68px 0 70px;
    width: 292px;
  }
  .landing-tech__title {
    font-size: 30px;
    letter-spacing: -1.2px;
    line-height: normal;
    margin: 60px 0 24px;
  }

  .landing-tech__description {
    font-size: 11px;
    max-width: 292px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
  .landing-tech__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;
  }
}
