.film {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.film__image {
  width: 270px;
  height: 151px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.film__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  align-self: center;
}

.film__button {
  width: 24px;
  height: 24px;
  border-radius: 36px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: 10px 8.5px;
  background-position: center;
  justify-self: flex-end;
  align-self: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.4s;
}

.film__button_like_passive {
  opacity: 1;
  background-image: url(../../../../images/like.svg);
}

.film__button_like_active {
  opacity: 1;
  background-image: url(../../../../images/like_active.svg);
}

.film:hover .film__button_delete {
  opacity: 1;
  background-image: url(../../../../images/cross.svg);
}

.film__time {
  margin: 15px 0 0;
  padding-top: 6px;
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid #e8e8e8;
  color: #a0a0a0;
  font-size: 11px;
  line-height: 13px;
}

@media (max-width: 1300px) {
  .film__image {
    width: 339px;
    height: 190px;
  }
  .film__time {
    margin-top: 25px;
  }
}
