.movies-card-list {
	display: flex;
	justify-content: center;
}

.movies-card-list__content {
	padding-top: 73px;
	display: grid;
	box-sizing: border-box;
	width: 1140px;
	grid-template-columns: repeat(4, 1fr);
	gap: 38px 20px;
	margin: 0 auto;
}

@media (max-width: 1279px) {
	.movies-card-list__content {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		padding: 73px 0 14px;
		width: 708px;
		margin: 0;
	}
}

@media (max-width: 767px) {
	.movies-card-list__content {
		width: 300px;
		grid-template-columns: 1fr;
		padding: 40px 0 10px;
		row-gap: 34px;
	}
}
